div{
    background-color: brown;
    h1{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: larger;
    }
}
.contenedor{
    display: flex;
    background-image: url(../img/busqueda-inversa-imagenes.jpg);
  
    .card{
        margin: 2%;
        text-align: center;
        background-color: darkcyan;
        border-bottom-left-radius: 5px;
        padding: 1%;
        min-height: 50vh;
        p{
            text-align: justify;
            font-size: medium;
        }
    }
}

.bot{
    background-color: chocolate;
    color: black;
    height: 30px;
    width: 100px;
    padding: 2%;
    border-radius: 10%;
    font-weight: bold;
      &:hover{
        color: antiquewhite;
        background-color: brown;
        font-weight: bold;   
      }
  }